#########################################################################################################
##	This is a .gitignore for CLion embedded development with STM32
#########################################################################################################
#########
#Exclude all
#########
*
!*/
cmake*/
!.gitignore
###########################################################################
##	Clion
###########################################################################
.idea/
#########
#Do NOT ignore 
!*.txt
!*.md
!*.cfg
!.*project
!.ioc
#########
#C-files
#########
!*.cpp
!*.c
!*.h
!*.hpp

